body {
  font-family: 'Consolas', monospace;
  font-weight: bold;
}

[disabled] {
  opacity: .6;
}

.console {
  width: 100%;
  height: 100%;

  > div {
    flex-grow: 1;
  }
}

.controls {
  min-width: 308px;

  button, input {
    height: 50px;
    margin: 4px 4px;
    min-width: 60px;
  }

  .control-spacer {
    visibility: hidden;
    pointer-events: none;
  }

  .control-cash {
    flex-grow: 1;
  }

  button[data-pushed="true"] {
    outline: 1px solid red;
    pointer-events: none;
  }
}

.jeopardy {
  font-size: 14px;
  justify-content: flex-end;

  > span {
    display: flex;
  }

  .overlord-screen {
    order: 0;
    width: 160px;
    display: flex;

    &.slide-enter {
      opacity: 0.01;
      transition: opacity .1s ease-in;
      &.slide-enter-active {
        opacity: 1;
      }
    }
    &.slide-leave {
      opacity: 1;
      transition: opacity .1s ease-in;
      &.slide-leave-active {
        opacity: 0.01;
      }
    }

    .overlord-inner {
      display: flex;
      flex-grow: 1;

      > span {
        display: none;
      }
    }

    .overlord-meta {
      flex-grow: 1;
      > span {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        flex-grow: 1;
        flex-basis: 0;
      }
    }

    .overlord-question, .overlord-answer { opacity: .6; }

    &.active-question .overlord-question { background: lighten(green, 10%); opacity: 1 }
    &.active-answer .overlord-answer { background: lighten(red, 10%); opacity: 1 }
  }
  .board {
    max-width: ~"calc(100% - 160px)";
    order: 1
  }
}

.clue {
  overflow: hidden;
  background-color: black;
  color: white;

  &.selected {
    outline: 3px solid yellow;
  }

  &.active {
    &.active-question {
      background: lighten(green, 10%);
    }

    &.active-answer {
      background: lighten(red, 10%);
    }
  }
}

.team-score {
  min-height: 60px;
}

.timeline {
  max-height: 20%;

  .snapshot-list {
    flex-grow: 1;
    display: flex;
    overflow: auto;
  }

  .snapshot-controls {
    min-width: 80px;
  }

  .snapshot {
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    width: 7%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #ddd;
    border: 1px solid #aaa;

    &.selected {
      border-color: yellow;
      background: #aaa;
    }
  }

  .timeline-controls {
    min-width: 100px;
  }
}


