@viewport-h: 1080px;
@viewport-w: 1920px;
@vertical-padding: 120px;
// Remove this comment
body, html {
  overflow: hidden;
  width: @viewport-w;
  height: @viewport-h;
  position: relative;
  background-color: black;
  cursor: none !important;
}


@media (min-width: 1200px) {
  body {
    transform: scale(.67, 1) translate(-460px, -110px);
  }
}

* {
  user-select: none;
  -webkit-user-select: none;
}

body {
  &:before, &:after {
    content: "";
    height: @vertical-padding;
    width: @viewport-w;
    position: absolute;
    left: 0;
    background: black;
    z-index: 99999;
  }

  &:after {
    background-image: url(../skin/inferior.png);
  }

  &:after {
    bottom: 0;
  }
}

#content {
  color: #fff;
  padding: @vertical-padding 239px;
  background: url(../skin/laterales.png) 0 @vertical-padding+1, url(../skin/laterales.png) 100% @vertical-padding+1;
  background-size: auto @viewport-h - 2*@vertical-padding;
  background-repeat: no-repeat;


}

.jeopardy {
  width: 100%;
  height: 100%;
  background: url(../skin/back.png);
  background-size: cover;
}

.clue {
  pointer-events: none;
}

.clue-topic {
  font-size: 50px;
  line-height: 1;

  &:nth-child(1) { }
  &:nth-child(2) { }
  &:nth-child(3) { font-size: 46px }
  &:nth-child(4) { }
  &:nth-child(5) { }
}

.clue-prize {
  font-size: 70px;
}

.team-score {  font-size: 120px;
  height: 144px;
}

.overlord-screen {
  position: absolute;
  background-image: url(../skin/backQA.png);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 38px;
  animation-duration: 1s;
  animation-fill-mode: both;

  .overlord-meta {
    display: none;
  }

  &.slide-enter {
    animation-name: slidein;
    animation-timing-function: ease-out;
  }

  &.slide-leave {
    animation-name: slideout;
    animation-timing-function: ease-in;
  }

  @keyframes slideout {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0, -850px);
    }
  }
  @keyframes slidein {
    from {
      transform: translate(0, -850px);
    }
    to {
      transform: translate(0, 0);
    }
  }
}

.overlord-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 100px;
}