@import "normalize";

@font-face {
  font-family: 'nissan_agbold';
  src: url('../font/nissanagbol-webfont.eot'), url('../font/nissanagbol-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: 'nissan_agbold';
}

*, *:before, *:after {
  box-sizing: inherit;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.cols {
  display: flex;
  flex-direction: row;
}

.rows {
  display: flex;
  flex-direction: column;
}

.jeopardy {
  display: flex;
  flex-grow: 1;
  position: relative;

  > .board {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    > div:first-child {
      flex-grow: 1;
    }
  }
}

.clue-set {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-basis: 0;

  > span {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 0;
    background-image: url(../skin/boton-azul.png);
    background-size: cover;
  }
}

.clue {
  cursor: pointer;

  > span {
    display: none;
  }

  &.hidden {
    > .clue-prize {
      display: inline;
    }
  }

  &.active {
    &.active-question > .clue-question  {
      display: inline;
    }

    &.active-answer > .clue-answer  {
      display: inline;
    }
  }
}

.team-score {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;

  &:first-child {
    background-image: url(../skin/teamA.png);
  }
  &:nth-child(2) {
    background-image: url(../skin/teamB.png);
  }
}

